---
const imageUrl = "../img/projects/invoices.webp";
---
<div
        class="relative flex max-w-[24rem] flex-col overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700 shadow-md mx-6 mt-5">
    <div class="relative m-0 overflow-hidden text-gray-700 bg-transparent rounded-none shadow-none bg-clip-border">
        <img
                src={imageUrl}
                alt="ui/ux review check" />
    </div>
    <div class="p-4">
        <h4 class="block text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
            Invoice Manager XML - SAT
        </h4>
        <p class="block mt-3 antialiased font-normal leading-relaxed text-gray-700">
            Develop a web application for the management of XML invoices - SAT. The system supports both income and expense invoices, thus reducing the time for identifying invoices to pay and to collect.
        </p>
        <div class="p-4">
            <button
                    disabled
                    class="flex items-center gap-2 px-4 py-2 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none hover:bg-gray-900/10 active:bg-gray-900/20"
                    type="button">
                Show details
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                     stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                </svg>
            </button>
        </div>
    </div>
</div>