---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import Projects from "../components/Projects.astro";
import Knowledge from "../components/Knowledge.astro";
import Experience from "../components/Experience.astro";
import Contact from "../components/Contact.astro";

const Title = 'Alejandro Serafin Gutierrez - Software Engineer';
const Description = 'Alejandro Serafin Gutierrez - Software Engineer';
const Keywords = 'Alejandro Serafin Gutierrez, Python, Django, FastAPI, Flask, Javascript, React, NextJS, NodeJS, Express, MongoDB, MySQL, PostgreSQL, Software Engineer, Software Developer, Software Architect, Software Consultant, Software Development, Software Design, Software Architecture, Software Consulting, Software Engineering, Software, Engineer, Developer, Architect, Consultant, Development, Design, Architecture, Consulting, Engineering, Software Engineer, Software Developer, Software Architect, Software Consultant, Software Development, Software Design, Software Architecture, Software Consulting, Software Engineering, Software, Engineer, Developer, Architect, Consultant, Development, Design, Architecture, Consulting, Engineering';
---

<Layout title={Title} description={Description} keywords={Keywords}>
	<main>
	<Home />
	<Experience />
	<Projects />
	<Knowledge />
	<Contact />
	</main>
</Layout>
