---
const phoneIcon = "../img/icons/phone.svg";
const emailIcon = "../img/icons/mail.svg";
const githubIcon = "../img/icons/github.svg";
const platziIcon = "../img/icons/platzi.svg";
---

<section>
    <div class="footer py-16 pb-32">
        <div class="w-1/2 mx-auto pt-6">
            <h1 class="text-2xl text-white font-bold text-left">Contact</h1>
        </div>
        <div class="w-1/2 mx-auto pt-6">
            <div class="flex items-center">
                <img src={ emailIcon } alt="email icon" class="w-8 h-8 inline-block">
                <h2 class="text-[#C5C5C5] font-normal inline-block pl-4">trails.baryons0a@icloud.com</h2>
            </div>
        </div>
        <div class="w-1/2 mx-auto pt-6">
            <div class="flex items-center">
                <img src={ phoneIcon } alt="phone icon" class="w-8 h-8 inline-block">
                <h2 class="text-[#C5C5C5] font-normal inline-block pl-4"> --- --- 9605</h2>
            </div>
        </div>
        <div class="w-1/2 mx-auto pt-6">
            <div class="flex items-center">
                <img src={ githubIcon } alt="github icon" class="w-8 h-8 inline-block">
                <h2 class="text-[#C5C5C5] font-normal inline-block pl-4"><a href="https://github.com/serasinfin" target="_blank">@serasinfin</a></h2>
            </div>
        </div>
        <div class="w-1/2 mx-auto pt-6">
            <div class="flex items-center">
                <img src={ platziIcon } alt="platzi icon" class="w-8 h-8 inline-block">
                <h2 class="text-[#C5C5C5] font-normal inline-block pl-4"><a href="https://platzi.com/p/AlejandroSerafin/" target="_blank">AlejandroSerafin</a></h2>
            </div>
        </div>
    </div>

</section>
