---
const imageProfileUrl = "../img/alejandro.png"
const cvUrl = "../files/CV-Alejandro-Serafin-Gutierrez.pdf"
---
<section id="home" class="flex flex-col justify-center items-center p-14">
    <div class="rounded-full overflow-hidden w-48 h-48 profile-logo">
        <img src={imageProfileUrl} alt="Profile photo" class="w-full h-full object-cover">
    </div>
    <div class="flex flex-col justify-center items-center pt-10">
        <h1 class="text-5xl text-center font-bold text-white">Alejandro Serafín Gutiérrez</h1>
        <h2 class="text-2xl text-center font-normal text-white pt-2">Desarrollador Full Stack</h2>
        <p class="text-xl text-center font-light w-1/2 mx-auto pt-10">Desarrollador Full Stack con sólida experiencia en el desarrollo backend, frontend y gestión de infraestructura en la nube. Especializado en la
            creación de soluciones escalables y automatizadas, con enfoque en optimización del rendimiento, integración de APIs y automatización de
            procesos empresariales.</p>
    </div>
    <div class="pt-10">
        <!--Contact button-->
        <a href="#contact">
            <button class="bg-white rounded-full hover:bg-[#171514] text-[#171514] text-xl font-medium hover:text-white py-2 px-4 border hover:border-white w-48 h-14 mx-2">
                Contacto
            </button>
        </a>
        <!--Outline white-->
        <a href={cvUrl} target="_blank">
            <button class="bg-transparent rounded-full hover:bg-white text-white text-xl font-medium hover:text-[#171514] py-2 px-4 border border-white hover:border-transparent w-48 h-14 mx-2">
                Descargar CV
            </button>
        </a>
    </div>
</section>
