---
import '@fontsource/poppins/200.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/700.css';
import NavBar from '../components/NavBar.astro';

interface Props {
	title: string;
	description: string;
	keywords: string;
}

const { title, description, keywords } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/logo.png" />
		<title>{title}</title>
	</head>
	<body>
		<NavBar />
		<slot />
	</body>
</html>
<style is:global>
	:root {}
	html {
		font-family: 'Poppins', sans-serif;
		background-color: #171514;
	}
	.footer {
		background-color: #191919;
	}
	p {
		color: #C5C5C5;
	}
	.profile-logo {
		background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
	}
	.python-logo:hover .tooltip-python {
		visibility: visible;
	}
	.js-logo:hover .tooltip-js {
		visibility: visible;
	}
	.go-logo:hover .tooltip-go {
		visibility: visible;
	}
	.git-logo:hover .tooltip-git {
		visibility: visible;
	}
	.postgresql-logo:hover .tooltip-postgresql {
		visibility: visible;
	}
	.aws-logo:hover .tooltip-aws {
		visibility: visible;
	}
	.docker-logo:hover .tooltip-docker {
		visibility: visible;
	}
</style>
